; File with certificate and private key
cert = {{zookeeper_server_cert}}
key = {{zookeeper_server_cert}}

; Log (1= minimal, 5=recommended, 7=all) and log file)
; Preceed with a “;” to disable logging
debug = 1
output = /var/log/stunnel4/zookeeper-server.log

; Some performance tuning
socket = l:TCP_NODELAY=1
socket = r:TCP_NODELAY=1

; Data compression algorithm: zlib or rle
;compression = zlib

; SSL bug options / NO SSL:v2 (SSLv3 and TLSv1 is enabled)
options = ALL
options = NO_SSLv2
;options = NO_SSLv3
verify = 2
cafile = {{stunnel_cacert}}

pid = /var/run/stunnel-zookeeper-server.pid

[zookeeper-server]
accept = {{zookeeper_stunnel_server_port}}
connect = 2181

